@page "/skiasharp_paint"

<PageTitle>SkiaSharp Paint</PageTitle>

<h1>Raster (Bitmap) Canvas</h1>

<p>The canvas below is using pixels in memory. Click and drag to draw a line.</p>

<div class="container">
    <div class="row">
        <div class="col border rounded p-2 canvas-container">

            <SKCanvasView @ref="skiaView"
                          OnPaintSurface="OnPaintSurface" IgnorePixelScaling="true"
                          @onpointerdown="OnPointerDown" @onpointermove="OnPointerMove" @onpointerup="OnPointerUp" 
                          @onmousedown="OnMouseDown" @onmousemove="OnMouseMove" @onmouseup="OnMouseUp"
                          @ontouchstart="OnTouchStart" 
                          @ontouchmove="OnTouchMove" @ontouchend="OnTouchEnd"
                          />

        </div>
    </div>
</div>